body {
    font-family: 'Open Sans';
    color: #666;
    line-height: 1.7;
    font-size: 18px;
}

a {
    transition: linear 0.5s, border .2s linear;
    border-bottom: 1px dotted;
    text-decoration: none;
    color: #49bf9d;
    
}

.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    display: block;
}

p {
    margin: 0 0 2em;
}

img {
    max-width: 100%;
}

a:hover {
    border-bottom-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    color: #787878;
    font-weight: normal;
    margin: 1em 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}

sub, sup {
    font-size: 12px;
}

blockquote {
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}

blockquote p{
    margin-bottom: .5em;
}

blockquote p:last-child{
    margin-bottom: 0;
}

code {
    background-color: #f7f7f7;
    border-radius: .35em;
    border: 2px solid #efefef;
    font-size: .9em;
    padding: 0.25em 0.65em;
    font-family: 'Courier New', Courier, monospace;
    color: #929292;
}

pre code {
    display: block;
}

ul, ol {
    padding: 0;
    margin: 0;
    padding-left: 1.1em;
}

.ul-alternate {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.ul-alternate li {
    border-bottom: 2px solid #ccc;
    padding-left: 0;
}

.ul-alternate li:last-child {
    border: 0;
}

.ul-icons {
    padding-left: 0;
    list-style: none;
}

.ul-icons li {
    display: inline-block;
    color: #49bf9d;
    font-size: 2em;
}

input, label, textarea, select {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
}

input, textarea, select {
    background-color: #ccc;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid transparent;
    margin-bottom: 15px;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
}

input:focus, textarea:focus {
    border: 3px solid #49bf9d;
    outline: none;
}

textarea {
    height: 10em;
}

.button-default {
    background-color: #49bf9d;
    border: 3px solid #49bf9d;
    color: white;
    border-radius: 5px;
    padding: .75em 1.5em;
    font-size: .8em;
    display: inline-block;
    width: auto;
    transition: all .5s;
    cursor: pointer;
}

.button-default:hover {
    background-color: #5cd3b1;
    border-color: transparent;
}

.button-default-stroke {
    background-color: white;
    border-color: #efefef;
    color: inherit;
}

.button-default-stroke:hover {
    color: #49bf9d;
    border-color: #49bf9d;
    background-color: white;
}

.button-default-small {
    font-size: 0.6em;
}

.button-default-big {
    font-size: 1em;
}

.button-default-full {
    display: block;
    text-align: center;
}

.imagem-link {
    border: 0;
}

.table {
    width: 100%;
    margin: 0 0 2em 0;
    border-collapse: collapse;
    text-align: left;
}

.table td {
    padding: .75em;
}

.table th {
    background-color: #ccc;
    padding: .75em;
}

.table tbody tr {
    border-bottom: 1px solid #ccc;
}

.table tbody tr:first-child td {
    border-top: 2px solid #666;
}

.table tbody tr:last-child td {
    border-bottom: 2px solid #666;
}

.table tbody tr:nth-child(even) {
    background-color: #eee;
}

.table-alternate tbody td, .table-alternate tbody tr:first-child td, .table-alternate tbody tr:last-child td {
    border: 1px solid #ddd;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    padding: 124px 60px 80px 60px;
    box-sizing: border-box;
    text-align: right;
    background-image: url(../images/overlay.png), url(../images/bg.jpg);
    background-position: left top;
    background-size: auto, cover;
}

.main-header-link img {
    border-radius: 50%;
    overflow: hidden;
}

.main-header-title {
    font-size: 23px;
    line-height: 1.5;
    font-weight: normal;
    color: rgba(255, 255, 255, .5);
}

.main-header-title strong {
    color: white;
    font-weight: normal;
}

header p {
    font-size: 17px;
    color: inherit;
}

.main-header-link {
    color: inherit;
    font-size: 16px;
    
}
.paragrafo1{
    padding-top: 15px;
}

.main-header-link:hover {
    color: #49bf9d;
    border-bottom: none;
}

.main-content {
    width: 65%;
    margin-left: 35%;
    padding: 124px 60px 80px 60px;
    box-sizing: border-box;
}

.recent-works-card img {
    border-radius: 10px;
    overflow: hidden;
}

.gallery-img img {
    width: 100%;
}

.gallery-thumb img, .gallery-img img {
    margin-bottom: 2%;
    border-radius: 5px;
}

.main-footer {
    position: fixed;
    bottom: 0px;
    width: 35%;
    padding: 0px 52px 72px 0;
    box-sizing: border-box;
    text-align: right;
}

.ul-icons a {
    font-size: 25px;
    border: none;
}

.fa-twitter {
    margin-right: 15px;
}

.main-footer li, a {
    color: inherit;
    list-style: none;
    display: inline;
    font-size: 13px;
}

.main-footer a:hover {
    transition: linear .2s;
    color: #49bf9d;
}

.img-left{
    margin-right: 10px;
    float: left;
}

.img-right{
    float: right;
    margin-left: 10px;
}

/* GRID */

.row {
    overflow: auto;
}

.col2 {
    width: 48.5%;
    float: left;
}

.col2:first-child {
    margin-right: 1.5%;
}

.col2:last-child {
    margin-left: 1.5%;
}

.col23 {
    width: 66%;
    float: left;
}

.col13 {
    width: 32%;
    float: left;
}

.col13:nth-child(3n -2) {
    margin-right: 2%;
}

.col13:nth-child(3n) {
    margin-left: 2%;
}

.col23+.col13, .col13+.col23 {
    margin-left: 2%;
}